{% extends 'classroomLayout.twig' %}

{% block body %}
	<div class='classroomInfo'>
		<img src='{{HOME_URL}}{{classroom.image|split('/', 2)[1] }}'>
		<h2>{{classroom.name}}</h2>
		{{classroom.description}}
	</div>
	{% for student in students %}
		<div class='student'>
			<img src='{{HOME_URL}}{{student.image|split('/', 2)[1]}}'>
			<div class="studentShortInfo">
				<h3>{{student.name}}</h3>
				<p>{{student.quote}}</p>
				<a href='{{HOME_URL}}student/{{student.id}}'>Ավելին</a>
			</div>
		</div>
	{% endfor %}
{% endblock %}
